{% load static %}
  
<!-- Modal Categoria-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Criar Categoria</h5>
                <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formCategoria" action="" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="">Categoria</label>
                        {{ form_categoria.nome }}
                        {{ form_categoria.nome.errors }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-mdb-ripple-init  data-mdb-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary"  data-mdb-ripple-init>Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>