{% extends 'partials/base.html' %}

{% block title %}Categorias - Kem Software{% endblock %}

{% block content %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Categorias</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="{%  url 'index' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active">Categorias</li>
                </ol>
                <div class="card mb-4">
                    <!-- <div class="card-body">
                        DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
                        <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
                        .
                    </div> -->
                    <div class="card-body">
                        <button type="button" class="btn btn-primary" data-mdb-ripple-init data-mdb-modal-init data-mdb-target="#exampleModal">
                            Criar Categoria
                        </button>
                   </div>
                </div>

                {% include "produto/modal_categoria/modal.html" %}


                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Categorias
                    </div>
                    <div class="card-body">
                        <table id="tabela" class="table table-hover">
                            <thead class="table-primary">
                                <tr>
                                    <th scope="col">Código</th>
                                    <th scope="col">Categoria</th>
                                    <th scope="col">Quantidade de produtos</th>
                                    <th scope="col">Vizualizar</th> 
                                    <th scope="col">Editar Categoria</th>                                  
                                </tr>
                            </thead>                            
                            <tbody>
                                {% for categoria in categorias %}
                                    <tr>                                        
                                        <td><strong>{{ categoria.codigo }}</strong></td>                                   
                                        <td>{{ categoria.nome }}</td>   
                                        <td>{{ categoria.produto_set.count }}</td>                                    
                                        <td>
                                            <a href="{% url 'filtrar_produtos' id=categoria.codigo %}">
                                                <i class="fa-solid fa-list"></i>                                                
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{% url 'editar_categoria' categoria_id=categoria.codigo %}">
                                                <i class="fa-solid fa-pen-to-square  fa-lg" style="color: #1289e4;"></i>
                                            </a>
                                        </td>                             
                                    </tr>                                   
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2024 kemuel kesley</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    
{% endblock %}