{% extends 'partials/base.html' %}

{% block title %}Lista de Produtos - Kem Software{% endblock %}


{% block content %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Produtos</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="{%  url 'index' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active">Produtos</li>
                </ol>
                <div class="card mb-4">
                   <div class="card-body">
                        <button type="button" class="btn btn-primary" data-mdb-ripple-init data-mdb-modal-init data-mdb-target="#exampleModal">
                            Adicionar Produto
                        </button>
                   </div>
                </div>
               
                {% include "partials/modal.html" %}
               
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Produtos
                    </div>
                    <div class="card-body">
                        <table id="tabela" class="table table-hover">
                            <thead class="table-primary">
                                <tr>
                                    <th scope="col">Código</th>
                                    <th scope="col">Nome</th>                               
                                    <th scope="col">Categoria</th>
                                    <th scope="col">Preço</th>
                                    <th scope="col">Descrição</th>
                                    <th scope="col">Quantidade</th>
                                </tr>
                            </thead>                          
                            <tbody>
                                {% for produto in produtos %}
                                    <tr>
                                        <td><strong>{{ produto.codigo }}</strong></td>                                   
                                        <td>{{ produto.nome }}</td>                                            
                                        <td>{{ produto.categoria }}</td>
                                        <td>R$ {{ produto.preco }}</td>
                                        <td>{{ produto.descricao }}</td>
                                        <td>{{ produto.quantidade }}</td>                         
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2024 kemuel kesley</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    

{% endblock %}