{% extends 'partials/base.html' %}

{% block title %}Produtos por categoria - Kem Software{% endblock %}

{% block content %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Categoria - {% if categoria %}{{ categoria.nome }}{% endif %}</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="{%  url 'index' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active">Produtos por categoria</li>
                </ol>
                <div class="card mb-4">
                    <div class="card-body">
                        DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
                        <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
                        .
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Produtos por categoria
                    </div>
                    <div class="card-body">
                        <table id="tabela" class="table table-hover">
                            <thead class="table-primary">
                                <tr>
                                    <th scope="col">Código</th>
                                    <th scope="col">Nome</th>                               
                                    <th scope="col">Categoria</th>
                                    <th scope="col">Preço</th>
                                    <th scope="col">Descrição</th>
                                    <th scope="col">Quantidade</th>                             
                                </tr>
                            </thead>
                            <!-- <tfoot>
                                <tr>
                                    <th>Código</th>
                                    <th>Nome</th>                               
                                    <th>Categoria</th>
                                    <th>Preço</th>
                                    <th>Descrição</th>
                                    <th>Quantidade</th>                        
                                </tr>
                            </tfoot> -->
                            <tbody>
                                {% for produto in produtos %}
                                    <tr>
                                        <td><strong>{{ produto.codigo }}</strong></td>                                   
                                        <td>{{ produto.nome }}</td>                                            
                                        <td>{{ produto.categoria }}</td>
                                        <td>R$ {{ produto.preco }}</td>
                                        <td>{{ produto.descricao }}</td>
                                        <td>{{ produto.quantidade }}</td>                                                   
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2024 kemuel kesley</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}