{% extends 'partials/base.html' %}

{% block title %}Cadastrar Funcionário - Kem Software{% endblock %}

{% block content %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Funcionarios</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="{%  url 'index' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active">Funcionarios</li>
                </ol>     
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Cadastrar Funcionario
                    </div>
                    <div class="card-body">
                        <form class=" mx-auto my-4" action="" method="POST">
                            {% csrf_token %}
                            
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="Nome">Nome:</label>
                                        {{ form.nome }}
                                    </div>
                    
                                    <div class="mb-3">
                                        <label for="cargo">Cargo:</label>
                                        {{ form.cargo }}
                                    </div>
                                </div>
                    
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="cargo">Salário:</label>
                                        {{ form.salario }}
                                    </div>
                                    
                                    <div class="mb-3">
                                        <label for="cargo">Sexo:</label>
                                        {{ form.sexo }}
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="cargo">Data de Nascimento:</label>
                                        {{ form.data_nascimento }}
                                    </div>
                                    <div class="mb-3">
                                        <label for="cargo">CPF:</label>
                                        {{ form.cpf }}
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="cargo">E-mail:</label>
                                        {{ form.email }}
                                    </div>
                                    <div class="mb-3">
                                        <label for="cargo">Telefone:</label>
                                        {{ form.telefone }}
                                    </div>
                                </div>  
                            </div>
                            
                            <input type="submit" class="btn btn-primary" value="Enviar">
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2024 kemuel kesley</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
{% endblock %}