{% extends 'partials/base.html' %}

{% block title %}Atualizar Funcionário - Kem Software{% endblock %}

{% block content %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Atualizar Funcionarios</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="{%  url 'index' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active">Funcionarios</li>
                </ol>     
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Atualizar funcionario
                    </div>
                    <div class="card-body">
                        <form class=" mx-auto my-4" action="" method="POST">
                            {% csrf_token %}

                            <hr class="border border-primary border-2 opacity-50">
                            
                            <div class="mb-3">
                               <h4><i>Dados Pessoais</i></h4>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="Nome">Nome:</label>
                                        {{ form.nome }}
                                    </div>
                    
                                    <div class="mb-3">
                                        <label for="cargo">Cargo:</label>
                                        {{ form.cargo }}
                                    </div>
                                </div>
                    
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="salario">Salário:</label>
                                        {{ form.salario }}
                                    </div>
                                    
                                    <div class="mb-3">
                                        <label for="sexo">Genero:</label>
                                        {{ form.genero }}
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="data_nascimento">Data de Nascimento:</label>
                                        {{ form.data_nascimento }}
                                    </div>
                                    <div class="mb-3">
                                        <label for="cpf">CPF:</label>
                                        {{ form.cpf }}
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="email">E-mail:</label>
                                        {{ form.email }}
                                    </div>
                                    <div class="mb-3">
                                        <label for="telefone">Telefone:</label>
                                        {{ form.telefone }}
                                    </div>
                                </div>  
                            </div>
                            <!-- Endereço -->
                            <hr class="border border-primary border-2 opacity-50">
                            
                            <div class="mb-3">
                               <h4>Endereço</h4>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label for="cep">CEP:</label>
                                        {{ form.cep }}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label for="logradouro">Logradouro:</label>
                                        {{ form.logradouro }}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label for="numero">Número:</label>
                                        {{ form.numero }}
                                    </div>
                                </div>        
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label for="bairro">Bairro:</label>
                                        {{ form.bairro }}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label for="localidade">Localidade:</label>
                                        {{ form.localidade }}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label for="uf">UF:</label>
                                        {{ form.uf }}
                                    </div>
                                </div>        
                            </div>

                            
                            <input type="submit" class="btn_test" value="Enviar">
                            
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2024 kemuel kesley</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
{% endblock %}