{% extends 'partials/base.html' %}

{% block title %}Lista de Funcionário - Kem Software{% endblock %}

{% block content %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Funcionarios</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="{%  url 'index' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active">Funcionarios</li>
                </ol>
                <div class="card mb-4">
                    <div class="card-body">
                        DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
                        <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
                        .
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Lista de Funcionario
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Cargo</th>
                                    <th>Data de Nascimento</th>
                                    <th>Telefone</th>
                                    <th>Salario</th>
                                    <th>Sexo</th>
                                    <th>CPF</th>
                                    <th>E-mail</th>
                                    <th>Ações</th>  
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Nome</th>
                                    <th>Cargo</th>
                                    <th>Data de Nascimento</th>
                                    <th>Telefone</th>
                                    <th>Salario</th>
                                    <th>Sexo</th>
                                    <th>CPF</th>
                                    <th>E-mail</th>
                                    <th>Ações</th>  
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for funcionario in funcionarios %}
                                <tr>
                                    <td>{{ funcionario.nome }}</td>
                                    <td>{{ funcionario.cargo }}</td>
                                    <td>{{ funcionario.data_nascimento }}</td>                                            
                                    <th>{{ funcionario.telefone }}</th>
                                    <td>R$ {{ funcionario.salario }}</td>
                                    <th>{{ funcionario.sexo }}</th>
                                    <th>{{ funcionario.cpf }}</th>
                                    <th>{{ funcionario.email }}</th>
                                    {% if funcionario.id %}
                                        <td>
                                            <!-- <input class="btn btn-primary" type="button" value="Editar"> -->
                                            <a href="{% url 'editar_funcionario' id=funcionario.pk %}" class="btn btn-primary">Editar</a>
                                        </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2024 kemuel kesley</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}